* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  /*max-width: 600px;*/
  font-family: "Helvetica", sans-serif;
  text-align: center;
  overflow: scroll;
} 
body, .projecttext, .projectimg, iframe {
  max-width: 600px;
}
.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*height: 100vh;*/
}

.projecttitle {
  margin-top: 14px;
}

.projects {
  font-weight: normal;
  font-size: 25px;
  line-height: 175%;
}

.body2 {
  display: inline-block;
  line-height: 200%;
}

a.link:hover, a.link:visited, a.link:link, a.link:active {
  text-decoration: none;
  color: #000000;
}


.date {
  font-weight: normal;
  font-size: 16px;
  color: #555;
}

.projecttext {
  text-align: left;
  margin-top: 14px;
  margin-bottom: 14px;
  color: #555;
}

.projectimg {
  display: block;
  width: 400px;
  height: auto;
}

video {
  height: auto;
  width: 100%;
}
