* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  margin: 0;
  text-align: center;
}

.projects {
  font-weight: normal;
  font-size: 25px;
  line-height: 175%;
}

.projectheaders {
  text-align: center;
}

.body2 {
  display: inline-block;
  text-align: center;
  line-height: 200%;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #000000;
}

.date {
  margin: 0;
  text-align: center;
  font-weight: normal;
}

.projecttext {
  margin: 0;
  text-align: center;
}

.projectimageRot {
  border: 2px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  transform: rotate(-90deg);
}