.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  margin: 0;
  text-align: center;
}

h2 {
  margin: 0;
  text-align: left; /* Align text to the left */
  max-width: 80%; /* Set a maximum width for the headers */
}
